h1 {
  text-align: center;
}

.nav-link {
  display: flex;
  align-items: center;
  gap: 20px;
}

.nav-link a {
  color: white;
}

.home {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 30px;
  width: 1280px;
  margin: 0 auto;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100vw;
  align-items: center;
}

.form input {
  flex-shrink: 0;
  width: 300px;
  height: 30px;
}

.form button {
  height: 46px;
  width: 300px;
}

.navigate-text {
  padding: 0px;
  margin: 0px;
}



.navigate-text span {
  color: rgb(84, 170, 232);
  cursor: pointer;
  text-decoration: underline;
}

.error-text {
  padding: 0px;
  margin: 0px;
  color:red
}

@media (max-width: 768px) {
  .home {
    width: 100vw;
  }
}
